h1, h2, h3, h4, p {
	color: #000000 !important;
}

img, #main-menu, .sidebar  {
	display: none !important;
}

.noprint {
	display: none !important;
}

.content {
	width: 100%;
	position: relative;
}

.content p {
	color: #000000;
}